:root {
    --background-primary: #aea2f2;
    --background-lighter: #aea2f2;
    --navbar-color: #d8d2fc;
    --navbar-height: 60px;
    --navbar-text-color: #ed1a56;
    --navbar-link-color: #eb1a56;
    --navbar-link-hover-color: #eb6f92;
    --navbar-font: "Roboto";
    --input-text-color: #ed1a56;
    --input-placeholder-color: white;
    --input-background-color: #d8d2fc;
    --input-border-color: #eb6f92;
    --input-border-size: 1.3px;
    --navbar-logo-filter: none;
    --dropdown-option-hover-color: #ae2f2;
    --tab-color: var(--black);
    --border-color: #eb6f92;
}
