@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #333;
  --active-color: #f1f1f1;
  --border-radius: 40px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Roboto;
  background: var(--active-color);
  transition: background 1.5s ease;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.tabs-component {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 40px;
  border-radius: var(--border-radius);
}

.tab-links {
  padding: 0;
  margin: 0 auto 20px;
  list-style: none;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.tab {
  position: relative;
}

.tab a {
  text-decoration: none;
  color: var(--black);
}

.tab::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  border-radius: var(--border-radius);
  background: none;
  transition: background 0.5s ease;
}

.tab svg {
  height: 30px;
  width: 30px;
  min-width: 30px;
  fill: var(--tab-color);
  transition: fill 0.5s ease;
}

.tab.active::before {
  background: var(--active-color);
}

.tab span {
  font-weight: 700;
  margin-left: 10px;
  transition: color 0.5s ease;
}

.tab.active span {
  color: var(--active-color);
}

.tab.active svg {
  fill: var(--active-color);
}

.tab a {
  padding: 16px;
  display: flex;
  align-items: center;
  font-size: 20px;
  overflow: hidden;
  position: relative;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.content-card {
  width: 48%;
  margin-bottom: 26px;
}

.content-card .info::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  bottom: -5px;
  background: var(--active-color);
  opacity: 0.5;
}

.content-card img {
  border-radius: 6px;
}

.content-card h3 {
  margin: 0 0 5px;
}

.content-card .info {
  padding: 10px 0;
}
