@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Roboto:wght@100&display=swap");

:root {
  --background-primary: #eff1f5 !important;
  --background-lighter: #e6e9ef !important;
  --navbar-color: #e6e9ef !important;
  --navbar-height: 60px !important;
  --navbar-text-color: #4c4f69 !important;
  --navbar-link-color: #1e66f5 !important;
  --navbar-link-hover-color: #8839ef !important;
  --navbar-font: "Roboto" !important;
  --input-text-color: #4c4f69 !important;
  --input-placeholder-color: #6c6f85 !important;
  --input-background-color: #dce0e8 !important;
  --input-border-color: color-mix(in srgb, #dce0e8, #8839ef 50%) !important;
  --input-border-size: 1.3px !important;
  --navbar-logo-filter: none !important;
  --dropdown-option-hover-color: #dce0e8 !important;
  --tab-color: #ccd0da !important;
  --active-color: #8839ef !important;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.font-roboto {
  font-family: "Roboto";
}
