@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Roboto:wght@100&display=swap");

:root {
  --background-primary: #303446 !important;
  --background-lighter: #292c3c !important;
  --navbar-color: #292c3c !important;
  --navbar-height: 60px !important;
  --navbar-text-color: #c6d0f5 !important;
  --navbar-link-color: #8caaee !important;
  --navbar-link-hover-color: #ca9ee6 !important;
  --navbar-font: "Roboto" !important;
  --input-text-color: #c6d0f5 !important;
  --input-placeholder-color: #a5adce !important;
  --input-background-color: #232634 !important;
  --input-border-color: color-mix(in srgb, #232634, #ca9ee6 50%) !important;
  --input-border-size: 1.3px !important;
  --navbar-logo-filter: none !important;
  --dropdown-option-hover-color: #232634 !important;
  --tab-color: #414559 !important;
  --active-color: #ca9ee6 !important;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.font-roboto {
  font-family: "Roboto";
}
