@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Roboto:wght@100&display=swap");

:root {
    --background-primary: #1e1e2e;
    --background-lighter: #11111b;
    --navbar-color: #11111b;
    --navbar-height: 60px;
    --navbar-text-color: #cba6f7;
    --navbar-link-color: #89b4fa;
    --navbar-link-hover-color: #cba6f7;
    --navbar-font: "Roboto";
    --input-text-color: #cdd6f4;
    --input-placeholder-color: #bac2de;
    --input-background-color: #181825;
    --input-border-color: #cba6f7;
    --input-border-size: 1.3px;
    --navbar-logo-filter: none;
    --dropdown-option-hover-color: #11111b;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.font-roboto {
    font-family: "Roboto";
}
