---
import Layout from "../../layouts/Layout.astro";
import CatalogCard from "../../components/catalog/CatalogCard.svelte";
export function getStaticPaths() {
  const STATIC_PATHS = [
    { params: { lang: "en_US" } },
    { params: { lang: "jp" } },
  ];
  return STATIC_PATHS;
}
export const prerender = true;
---

<Layout title="Catalog">
  <div
    class="flex flex-wrap mt-16 w-full fixed inset-0 h-[calc(100%-4rem)] z-0 bg-primary flex-col items-center"
  >
    <div>
      The Nebula Catalog is a place for you to find user-created themes and
      plugins.
    </div>
    <CatalogCard client:only="svelte" />
  </div>
</Layout>
