---
import Layout from "@layouts/Layout.astro";
export function getStaticPaths() {
  const STATIC_PATHS = [{ params: { lang: "en_US" } }, { params: { lang: "jp" } }];
  return STATIC_PATHS;
}
export const prerender = true;
---

<Layout title="Chango Games">
  <p>Chango games</p>
</Layout>
