---
import { STATIC_PATHS } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import MobileNavigation from "../../components/MobileNavigation.astro";

export function getStaticPaths() {
  return STATIC_PATHS;
}
---

<Layout title="Welcome to Astro.">
  <p>The services</p>
  <p id="">Mobile Navvy</p>
  <div id="mobileNavMenu" class="hidden w-full">
    <MobileNavigation />
  </div>
</Layout>
<script>
  import { isMobileNavOpen } from "../../store.js";
  const mobileNavMenu = document.getElementById("mobileNavMenu");
  // Listen to changes in the store, and show/hide the mobile navigation accordingly
  isMobileNavOpen.subscribe((open) => {
    if (open) {
      if (mobileNavMenu) {
        mobileNavMenu.style.display = "block";
      }
    } else {
      if (mobileNavMenu) {
        mobileNavMenu.style.display = "none";
      }
    }
  });
</script>
<style>
  #mobileNavMenu {
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
  }

  @keyframes slide-left {
    from {
      padding-left: 100%;
    }
    to {
      padding-left: 0%;
    }
  }
</style>
