---
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths() {
  const STATIC_PATHS = [
    { params: { lang: "en_US" } },
    { params: { lang: "jp" } },
  ];
  return STATIC_PATHS;
}
---

<Layout title="Welcome to Astro.">
  <p>The services</p>
  <p id="">Mobile Navvy</p>
</Layout>
