---
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths() {
  const STATIC_PATHS = [
    { params: { lang: "en_US" } },
    { params: { lang: "jp" } },
  ];
  return STATIC_PATHS;
}
---

<Layout title="Welcome to Astro.">
  <div
    class="flex flex-wrap mt-16 justify-center content-center w-full fixed inset-0 h-[calc(100%-4rem)] z-0"
  >
    Centered
  </div>
</Layout>
