:root {
    --background-primary: rgba(0, 0, 0, 0);
    --background-lighter: #000;
    --navbar-color: #000;
    --navbar-height: 60px;
    --navbar-text-color: greenyellow;
    --navbar-link-color: greenyellow;
    --navbar-link-hover-color: green;
    --navbar-font: "Roboto";
    --input-text-color: greenyellow;
    --input-placeholder-color: white;
    --input-background-color: #000;
    --input-border-color: greenyellow;
    --input-border-size: 1.3px;
    --navbar-logo-filter: none;
    --dropdown-option-hover-color: #312a49;
    --tab-color: var(--black);
    --border-color: greenyellow;
}
