:root {
  --background-primary: rgba(0, 0, 0, 0);
  --background-lighter: #04ff00;
  --navbar-color: #ffffff;
  --navbar-height: 60px;
  --navbar-text-color: #ff7300;
  --navbar-link-color: #16dcff;
  --navbar-link-hover-color: gray;
  --navbar-font: "Roboto";
  --input-text-color: #e0def4;
  --input-placeholder-color: white;
  --input-background-color: #ffb9d5;
  --input-border-color: #eb6f92;
  --input-border-size: 1.3px;
  --navbar-logo-filter: none;
  --dropdown-option-hover-color: #a891f4;
  --tab-color: var(--black);
  --border-color: #ff009d;
}
