:root {
    --background-primary: #000000 /* #191724 */;
    --background-lighter: #000000;
    --navbar-color: #19172f;
    --navbar-height: 60px;
    --navbar-text-color: #ffffff;
    --navbar-link-color: #ffffff;
    --navbar-link-hover-color: gray;
    --navbar-font: "Roboto";
    --input-text-color: #e0def4;
    --input-placeholder-color: white;
    --input-background-color: #000000;
    --input-border-color: #eb6f92;
    --input-border-size: 1.3px;
    --navbar-logo-filter: none;
    --dropdown-option-hover-color: #000000;
    --tab-color: #000000;
    --border-color: #ffffff;
}
