---
import Header from "../components/Header.astro";
import "../themes/nebula.css";
import MobileNavigation from "../components/MobileNavigation.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-screen overflow-x-hidden">
    <Header />
    <slot />
    <div
      id="mobileNavMenu"
      class="w-full fixed inset-0 h-[calc(100vh-4rem)] z-0"
    >
      <MobileNavigation />
    </div>
  </body>
</html>
<script>
  import { isMobileNavOpen } from "../store.js";
  const mobileNavMenu = document.getElementById("mobileNavMenu");
  // Listen to changes in the store, and show/hide the mobile navigation accordingly
  isMobileNavOpen.subscribe((open) => {
    if (open) {
      if (mobileNavMenu) {
        mobileNavMenu.style.display = "block";
        mobileNavMenu.style.transform = "translateX(0%)";
      }
    } else {
      if (mobileNavMenu) {
        mobileNavMenu.style.transform = "translateX(100%)";
      }
    }
  });
</script>
<style>
  #mobileNavMenu {
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    transform: translateX(100%);
  }
</style>

<style is:global>
  @import "https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap";
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .roboto {
    font-family: Roboto;
  }
</style>
