---
const { title, subtitle } = Astro.props;
---

<div class="mt-5 font-roboto">
  <hr />
  <div class="mt-3">
    <div class="text-2xl font-semibold">{title}</div>
    <div class="text-lg mb-5">{subtitle}</div>
    <slot />
  </div>
</div>
