---
import Layout from "@layouts/Layout.astro";
import SettingsLayout from "@layouts/SettingsLayout.astro";
import SettingsSection from "@layouts/SettingsSection.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import CreditsCard from "@components/settings/CreditsCard.astro";
---

<Layout title="Settings">
  <SettingsLayout title="Credits">
    <SettingsSection title="Site Developers & Maintainers" subtitle="Thank you to all of the devs and maintainers!">
      <div class="flex flex-row flex-wrap gap-4 items-center font-roboto">
        <div class="justify-center flex flex-row gap-6 flex-wrap md:justify-normal">
            <CreditsCard image="/src/assets/credits/rift.jpeg" name="Rifting" link="https://github.com/rifting" />
            <CreditsCard image="/src/assets/credits/motortruck1221.png" name="MotorTruck1221" link="https://motortruck1221.com" />
        </div>
      </div>
    </SettingsSection>
    <SettingsSection title="Tools & Projects" subtitle="Nebula wouldn't be possible without these tools & projects">
        <div class="flex flex-row flex-wrap gap-6 items-center font-roboto">
            <CreditsCard image="/src/assets/credits/uv.png" name="Ultraviolet" link="https://github.com/titaniumnetwork-dev/ultraviolet" /> 
            <CreditsCard image="/src/assets/credits/rammerhead.png" name="Rammerhead" link="https://github.com/binary-person/rammerhead" />
            <CreditsCard image="/src/assets/credits/libcurl.png" name="Libcurl.js" link="https://github.com/ading2210/libcurl.js" />
            <CreditsCard image="/src/assets/credits/mercury.png" name="Epoxy TLS" link="https://github.com/mercuryworkshop/epoxy-tls" />
        </div>
    </SettingsSection>
    <SettingsSection title="Translators" subtitle="Translations are made possible by these lovely individuals">
    </SettingsSection>
  </SettingsLayout>
</Layout>
